<div class="change-password-container">
    <h2>changer le mot de passe</h2>
  
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <div>
        <label>Nouveau mot de passe</label>
        <input type="password" formControlName="newPassword">
        <div *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.invalid">
          Le mot de passe est requis (6 caractères minimum)         </div>
      </div>
  
      <div>
        <label>Confirmer le mot de passe : </label>
        <input type="password" formControlName="confirmPassword">
        <div *ngIf="passwordForm.errors?.['notMatching'] && passwordForm.get('confirmPassword')?.touched">
          Le mot de passe ne correspond pas        </div>
      </div>
  
      <button type="submit">Changer le mot de passe </button>
    </form>
  
    <div class="success" *ngIf="successMessage">{{ successMessage }}</div>
    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>
  