<div class="auth-wrapper">
  <div class="auth-card">
    <div class="auth-header">
      <h2 class="text-brand">Connexion<span class="dot">.</span></h2>
      <p>Accédez à votre espace commerçant</p>
    </div>
<form (ngSubmit)="login()">
  <div class="form-input-group">
    <label>Email</label>
    <input type="text"
           name="username"
           [(ngModel)]="username"
           required>
  </div>

  <div class="form-input-group">
    <label>Mot de passe</label>
    <input type="password"
           name="password"
           [(ngModel)]="password"
           required>
  </div>

  <div *ngIf="errorMessage" style="color:red; margin-top:10px;">
    {{ errorMessage }}
  </div>

  <button type="submit">Se connecter</button>
</form>

    

    <div class="auth-footer">
      <p>Pas encore de compte ? <a routerLink="/auth/register">S'inscrire</a></p>
    </div>
  </div>
</div>