<!-- SLIDER -->
<div class="owl-carousel owl-theme hero-slider">
    <div class="slide slide1">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-white">
                    <h5 class="text-white text-uppercase">Carte de Commerçant Étranger</h5>
                    <h4 class="display-3 my-4">Facilitez vos démarches administratives <br />EN TOUTE SIMPLICITé</h4>
                    <a routerLink="/auth/register" class="btn btn-brand">
                      Créer un compte
                    </a>
                    
                    <a routerLink="/auth/login" class="btn btn-outline-light ms-3">
                      Se connecter
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="slide slide2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 text-white">
                    <h5 class="text-white text-uppercase">Carte De Commercant Etranger </h5>
                    <h3 class="display-3 my-4">Votre partenaire de confiance pour l’obtention de la Carte de Commerçant<br/> Étranger en Tunisie.</h3>
                    <a routerLink="/auth/register" class="btn btn-brand">
                      Créer un compte
                    </a>
                    
                    <a routerLink="/auth/login" class="btn btn-outline-light ms-3">
                      Se connecter
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 py-5">
                    <div class="row">

                        <div class="col-12">
                            <div class="info-box">
                                <img src="assets/img/icon6.png" alt="">
                                <div class="ms-4">
                                    <h5>Assistance à l’obtention de la carte</h5>
                                    <p>
                                        Nous vous accompagnons dans toutes les étapes nécessaires pour obtenir votre carte de commerçant étranger.
                                      </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                <img src="assets/img/icon4.png" alt="">
                                <div class="ms-4">
                                    <h5>Préparation des documents</h5>
                                    <p>Nous vérifions et préparons l’ensemble des pièces administratives requises. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                <img src="assets/img/icon5.png" alt="">
                                <div class="ms-4">
                                    <h5>Suivi administratif</h5>
                                    <p>Nous assurons le suivi de votre dossier auprès des autorités compétentes. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="assets/img/about.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- MILESTONE -->
    <section id="milestone">
        <div class="container">
            <div class="row text-center justify-content-center gy-4">
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">+150</h1>
                    <p class="mb-0">Dossiers accompagnés</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">100%</h1>
                    <p class="mb-0">Conformité administrative</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">24/7</h1>
                    <p class="mb-0">Assistance</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">+5</h1>
                    <p class="mb-0">Années d'expérience</p>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h6>Nos Services</h6>
                        <h1>Que faisons-nous ?</h1>
                        <p class="mx-auto">Nous accompagnons les commerçants étrangers dans l’obtention et le renouvellement de leur carte grâce à un suivi administratif fiable et des conseils personnalisés.</p>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="assets/img/icon1.png" alt="">
                        <h5>Constitution du dossier</h5>
                        <p>Nous vous accompagnons dans la préparation complète de votre dossier en vérifiant tous les documents nécessaires afin d’assurer un traitement rapide et conforme aux exigences administratives.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="assets/img/icon2.png" alt="">
                        <h5>Dépôt de la demande</h5>
                        <p>Nous prenons en charge le dépôt officiel de votre demande auprès des autorités compétentes pour vous faire gagner du temps et éviter les erreurs.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="assets/img/icon3.png" alt="">
                        <h5>Suivi auprès du Ministère</h5>
                        <p>Nous assurons un suivi régulier de votre dossier auprès du Ministère afin de vous tenir informé de l’avancement et d’intervenir rapidement en cas de besoin.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="assets/img/icon4.png" alt="">
                        <h5>Assistance juridique</h5>
                        <p>Nous vous offrons un accompagnement juridique personnalisé pour répondre à vos questions et vous guider dans toutes les démarches légales.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="assets/img/icon5.png" alt="">
                        <h5>Renouvellement de la carte</h5>
                        <p>Nous facilitons la procédure de renouvellement de votre carte en vous accompagnant dans toutes les étapes administratives nécessaires.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="assets/img/icon6.png" alt="">
                        <h5>Conseils personnalisés</h5>
                        <p>Nous offrons des conseils adaptés à votre activité commerciale et au pays ciblé pour optimiser vos chances de réussite.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h6>Démarches Administratives</h6>
                        <h1>Procédure officielle pour la carte de commerçant étranger</h1>
                        <p class="mx-auto">La demande de carte nécessite la constitution d’un dossier conforme aux exigences du Ministère du Commerce.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="projects-slider" class="owl-theme owl-carousel">
            <div class="project">
                <div class="overlay"></div>
                <img src="assets/img/project1.jpg" alt="">
                <div class="content">
                    <h2>Assistance administrative spécialisée</h2>
                    <h6>Procédures & Démarches légales</h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="assets/img/project2.jpg" alt="">
                <div class="content">
                    <h2>Gestion complète de votre dossier</h2>
                    <h6>Constitution & Suivi administratif</h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="assets/img/project3.jpg" alt="">
                <div class="content">
                    <h2>Service dédié aux commerçants étrangers</h2>
                    <h6>Accompagnement personnalisé</h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="assets/img/project4.jpg" alt="">
                <div class="content">
                    <h2>Procédure simplifiée et sécurisée</h2>
                    <h6>Conformité légale garantie</h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="assets/img/project5.jpg" alt="">
                <div class="content">
                    <h2>Votre partenaire en démarches commerciales</h2>
                    <h6>Expertise & Suivi professionnel</h6>
                </div>
            </div>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h6>Notre Équipe</h6>
                        <h1>Team Members</h1>
                        <p class="mx-auto">Une équipe spécialisée en procédures administratives et juridiques.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="team-member">
                        <div class="image">
                            <img src="assets/img/team_1.jpg" alt="">
                            <div class="social-icons">
                                <a href="#"><i class='bx bxl-facebook'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                                <a href="#"><i class='bx bxl-pinterest'></i></a>
                            </div>
                            <div class="overlay"></div>
                        </div>

                        <h5>Conseiller Administratif</h5>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="team-member">
                        <div class="image">
                            <img src="assets/img/team_2.jpg" alt="">
                            <div class="social-icons">
                                <a href="#"><i class='bx bxl-facebook'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                                <a href="#"><i class='bx bxl-pinterest'></i></a>
                            </div>
                            <div class="overlay"></div>
                        </div>

                        <h5>Expert juridique</h5>
                     </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="team-member">
                        <div class="image">
                            <img src="assets/img/team_3.jpg" alt="">
                            <div class="social-icons">
                                <a href="#"><i class='bx bxl-facebook'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                                <a href="#"><i class='bx bxl-pinterest'></i></a>
                            </div>
                            <div class="overlay"></div>
                        </div>

                        <h5>Assistant administratif</h5>
                     </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light" id="reviews">

        <div class="owl-theme owl-carousel reviews-slider container">
            <div class="review">
                <div class="person">
                    <img src="assets/img/team_1.jpg" alt="">
                     <small>Conseiller Administratif</small>
                </div>
                <h3>Assure le suivi complet de votre dossier et répond à toutes vos questions administrative</h3>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class="bx bxs-star-half"></i>
                </div>
                <i class='bx bxs-quote-alt-left'></i>
            </div>
            <div class="review">
                <div class="person">
                    <img src="assets/img/team_2.jpg" alt="">
                     <small>Expert Juridique</small>
                </div>
                <h3>Fournit des conseils légaux précis pour sécuriser votre activité et éviter les erreurs administratives</h3>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class="bx bxs-star-half"></i>
                </div>
                <i class='bx bxs-quote-alt-left'></i>
            </div>
            <div class="review">
                <div class="person">
                    <img src="assets/img/team_3.jpg" alt="">
                     <small>Assistant Administratif</small>
                </div>
                <h3>Veille à la mise à jour régulière de votre dossier et assure la liaison avec les autorités</h3>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class="bx bxs-star-half"></i>
                </div>
                <i class='bx bxs-quote-alt-left'></i>
            </div>
        </div>
    </section>

    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h6>Informations & Réglementation</h6>
                        <h1>Informations & Réglementation</h1>
                        <p class="mx-auto">Des articles et conseils pratiques sur les démarches et obligations pour les commerçants étrangers</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="blog-post">
                        <img src="assets/img/project5.jpg" alt="">
                        <a href="#" class="tag">Procédures administratives</a>
                        <div class="content">
                            <small>01 Fév, 2026</small>
                            <h5>Découvrez les étapes officielles</h5>
                            <p>pour constituer et déposer votre dossier de carte de commerçant étranger</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="blog-post">
                        <img src="assets/img/project4.jpg" alt="">
                        <a href="#" class="tag">Conseils juridiques</a>
                        <div class="content">
                            <small>01 Fév, 2026</small>
                            <h5>Recevez des conseils juridiques personnalisés</h5>
                            <p>pour sécuriser votre activité commerciale en Tunisie</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="blog-post">
                        <img src="assets/img/project2.jpg" alt="">
                        <a href="#" class="tag">Actualités et réglementations</a>
                        <div class="content">
                            <small>01 Fév, 2026 </small>
                            <h5>Restez informé des dernières obligations</h5>
                            <p>et changements légaux concernant les commerçants étrangers.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="container-fluid">
                        <div class="row gy-4">
                            <div class="col-lg-4 col-sm-12 bg-cover"
                                style="background-image: url(img/c2.jpg); min-height:300px;">
                                <div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <form class="p-lg-5 col-12 row g-3">
                                    <div>
                                        <h1>Get in touch</h1>
                                    <p>Fell free to contact us and we will get back to you as soon as possible</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="userName" class="form-label">First name</label>
                                        <input type="text" class="form-control" placeholder="Jon" id="userName"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="userName" class="form-label">Last name</label>
                                        <input type="text" class="form-control" placeholder="Doe" id="userName"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <div class="col-12">
                                        <label for="userName" class="form-label">Email address</label>
                                        <input type="email" class="form-control" placeholder="Johndoe@example.com" id="userName"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <div class="col-12">
                                        <label for="exampleInputEmail1" class="form-label">Enter Message</label>
                                        <textarea name="" placeholder="This is looking great and nice." class="form-control" id=""  rows="4"></textarea>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-brand">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
