<div class="auth-hero-wrapper">
<div class="page">
<div class="forgot-container" >

    <h2>Mot de passe oublié</h2>
    
    <!-- STEP 1 -->
    
    <form *ngIf="step === 1" [formGroup]="forgotForm" (ngSubmit)="sendEmail()">
    
    <label>Email</label>
    <input type="email" formControlName="email">
    
    <button type="submit" [disabled]="loading">
        Envoyer le code
      </button>
    
    </form>
    
    <!-- STEP 2 -->
    
    <form *ngIf="step === 2" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    
    <label>Code reçu par email</label>
    <input type="text" formControlName="key">
    
    <label>Nouveau mot de passe</label>
    <input type="password" formControlName="newPassword">
    
    <button type="submit">
    Changer mot de passe
    </button>
    
    </form>
    
    <div *ngIf="successMessage" style="color:green">
    {{ successMessage }}
    </div>
    
    <div *ngIf="errorMessage" style="color:red">
    {{ errorMessage }}
    </div>
    
    </div>
</div>
</div>